@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --cor1: #73CDDE;
    --cor2: #3D7068;
    --cor3: #F5CB5C;
    --cor4: #3C1518;
 
    --fonte1: "Cormorant Garamond", sans-serif;
    --fonte2: "Open Sans", sans-serif;
    --FontRbt:"Roboto", sans-serif; /*texto longo e nav*/
    --FontsSerif: "Cormorant Garamond", serif; /*títulos topicos e leituras rápidas */
    --corimg:#2F2F2F;
    --corfundo1: white;
    --corfundo2:#F5F5F5;
    --headerfooter: black;
    --corbtn: #888888;

}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #FCFAF7;
    font-family: var(--fonte2);
}

a{
    text-decoration: none;
}
.header{
    background-color: rgba(14, 14, 14, 0.846);
    padding-inline: 15px;
    border-radius: 8px;
}
.nav{
    max-width: 1280px;
    height: 90px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo > img{
    height: 80px;

}
.nav-list{
    display: flex;
    gap: 32px;
    list-style: none;
    
}
.nav-list a{
    font-size: 18px;
    color: #ffffff;
    font-family: var(--FontRbt);
    padding-block: 16px;
}
.hamburguer{
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
    
}
.hamburguer::before,
.hamburguer::after{
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: white;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}
@media (max-width: 750px) {
    .hamburguer{
        display: block;
        z-index: 3;
    }

    .nav-list{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(108, 213, 255, 0.84);
        clip-path: circle(100px at 100% -30%);
        transition: 1s ease-out;
      
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }
    .nav-list a{
        font-size: 24px;
        opacity: 0px;
    }

    .nav-list li:nth-child(1) a{
        transition: 0.3s 0.1s;
    }
    .nav-list li:nth-child(2) a{
        transition: 0.3s 0.2s;
    }
    .nav-list li:nth-child(3) a{
        transition: 0.3s 0.3s;
    }
    .nav-list li:nth-child(4) a{
        transition: 0.3s 0.4s;
    }
    .nav-list li:nth-child(5) a{
        transition: 0.3s 0.5s;
    }

    .nav.active .nav-list{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
        z-index: 1;
    }
    .nav.active .nav-list a{
        opacity: 1;
    }

    .nav.active .hamburguer{
        position: fixed;
        top: 30px;
        right: 16px;
        border-top-color: transparent;
    }
    .nav.active .hamburguer::before{
        transform: rotate(135deg);
    }
    .nav.active .hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}
a:hover{
    color: skyblue;
    transition: 0.2s;
}

div#welcome{
    
    padding: 270px 0px 170px 0px;
    text-align: center;
    min-width: 250px;
    max-width: 1000px;
    margin: 0px auto 100px auto;
    z-index: 0;
    
}
div#welcome > h1{
    font-family: var(--fonte1);
    font-weight: bold;
    font-size: 50px;
    color: black;
    padding-bottom: 40px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.596);
    
}

div#welcome > p{
    font-family: var(--fonte2);
    font-size: 17px;
    text-shadow: 4px 4px 8px grey;
}
main{
    min-width: 250px;
    max-width: 1000px;
    background-color: rgba(73, 74, 78, 0.247);
    margin: auto;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.541);
}
main h1{
    font-family: var(--fonte2);
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-top: 30px;
    
}
 main p{
    text-align: center;
    padding-left: 30px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    font-size: 1.1em;
 }
div.video{
    margin-bottom: 30px;
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}
div.video > iframe{
    z-index: 1;
    position: absolute; 
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

div.social{
    max-width: 1070px;
    min-width: 250px;
    height: 100px;
    background-color: var(--cor3);
    margin: 20px auto 30px auto;
    padding: 30px 0px 50px 30px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 2px 2px 8px black;
}
div.social> p{
    padding-bottom: 10px;
}
div.social > a > img{
    border-radius: 8px;
    padding: 10px;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
} 

footer{
    font-size: 0.8em;
    margin: 15px 10px 10px 50px;
    color: rgba(0, 0, 0, 0.596);
    text-align: right;
}